<h1>お気に入りの投稿一覧</h1>

<div class="favorite_list">
  <% @favorites.each do |favor| %>
    <div class="favor_page_image_area">
      <%= link_to post_path(favor) do %>
        <%= image_tag favor.image.url ,class: "favor_image" %>
      <% end %>
    </div>
  <% end %>
</div>
