body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  padding: 10px;
  margin: 30px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #250d00;
  font-weight: bold;

  &:visited {
    color: #595455;
  }

  &:hover {
    background-color: #fffacd;
    color: #250d00;
  }
}

th {
  padding: 40px 10px 10px 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}

tbody {
  width: 100%;
}
h1 {
  width: 100%;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  font-size: 60px;
  background-color: #fbfaf5;
  color: #250d00;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.header {
  padding: 30px 20px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.footer {
  padding: 30px 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  background-color: #fbfaf5;
  color: #250d00;
}

.footer a {
  color: #250d00;
  padding: 0 10px;
}

.footer input {
  color: #250d00;
  padding: 0 10px;
}

table {
  width: 100%;
}

.c {
  width: 170px;
  font-size: 14px;
}

.d {
  width: 200px;
  font-size: 8px;
}

.decide {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #250d00;
  background-color: #fbfaf5;
}

.field {
  margin: 15px 10px;
}

.confirm_footer {
  padding: 30px 10px;
  text-align: left;
  font-size: 18px;
  background-color: #fbfaf5;
  color: #250d00;
}

form {
  margin: 30px 50px;
}

img {
  text-align: center;
}

.notice {
  padding: 15px 10px 0 10px;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: #bb5548;
}

.favorite_button {
  font-weight: bold;
  padding: 10px;
  color: #bb5548;
}

.favorlite_page_image_area {
  padding: 20px 0 20px 60px;
}

#notice {
  color: green;
  font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;


  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
